@page "/attributes/stroke"
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Stroke</ExampleTitle>
<ElementDescription ElementType="@typeof(SvgStroke)" />

<h3>Basic example</h3>
<div><ExampleComponent ExampleCode="@(new StrokeBasicExample())" /></div>

<h3>DashArray property</h3>
<p>@( typeof(SvgStroke).GetProperty("DashArray").GetDocumentation() )</p>
<div><ExampleComponent ExampleCode="@(new StrokeDashArrayExample())" /></div>

<h3>DashOffset property</h3>
<p>@( typeof(SvgStroke).GetProperty("DashOffset").GetDocumentation() )</p>
<div><ExampleComponent Height="25" ExampleCode="@(new StrokeDashOffsetExample())" /></div>

<h3>LineCap property</h3>
<p>@( typeof(SvgStroke).GetProperty("LineCap").GetDocumentation() )</p>
<div><ExampleComponent ExampleCode="@(new StrokeLineCapExamples())" /></div>

<h3>LineJoin property</h3>
<p>@( typeof(SvgStroke).GetProperty("LineJoin").GetDocumentation() )</p>
<div><ExampleComponent Height=520 ExampleCode="@(new StrokeLineJoinExamples())" /></div>

<h3>Opacity property</h3>
<p>@( typeof(SvgStroke).GetProperty("Opacity").GetDocumentation() )</p>
<div><ExampleComponent ExampleCode="@(new StrokeOpacityExample())" /></div>

<h3>MiterLimit property</h3>
<p>@( typeof(SvgStroke).GetProperty("MiterLimit").GetDocumentation() )</p>
<div><ExampleComponent Height=250 ExampleCode="@(new StrokeMiterLimitExamples())" /></div>

<ElementApiDocs ElementType="@typeof(SvgStroke)" />
