@page "/attributes/stroke"
@using SvgBlazor.Docs.Components

<ExampleTitle>Stroke</ExampleTitle>
<p>The SvgStroke class is responsible for providing the paint of the outline of an svg element.</p>

<div><ExampleComponent ExampleCode="@(new StrokeBasicExample())" /></div>

<h5>DashArray</h5>
<p>To present stroke as a pattern of dashes and gaps, assign properly formatted string to DashArray property:</p>
<div><ExampleComponent ExampleCode="@(new StrokeDashArrayExample())" /></div>

<h5>DashOffset</h5>
<p>To render offset, assign value to DashOffset property. However, this will only work when DashArray is assigned as well:</p>
<div><ExampleComponent Height="25" ExampleCode="@(new StrokeDashOffsetExample())" /></div>

<h5>LineCap</h5>
<p>The following examples show how to define different stroke endings for open shapes:</p>
<div><ExampleComponent ExampleCode="@(new StrokeLineCapExamples())" /></div>

<h5>LineJoin</h5>
<p>The following examples show how to define different stroke shapes for corners:</p>
<h6>Miter</h6>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinMiterExample())" /></div>

<h6>Round</h6>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinRoundExample())" /></div>

<h6>Bevel</h6>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinBevelExample())" /></div>

<h6>Miter clip</h6>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinMiterClipExample())" /></div>

<h6>Arcs</h6>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinArcsExample())" /></div>

<h5>Opacity</h5>
<p>To change the opacity of the stroke, assign value to Opacity property:</p>
<div><ExampleComponent ExampleCode="@(new StrokeOpacityExample())" /></div>

<h5>MiterLimits</h5>
<p>The following examples show how to set miter length limit:</p>
<h6>No limit</h6>
<div><ExampleComponent ExampleCode="@(new StrokeMiterLimitExample())" /></div>

<h6>MiterLimit 1</h6>
<div><ExampleComponent ExampleCode="@(new StrokeMiterLimit1Example())" /></div>

<h6>MiterLimit 2</h6>
<div><ExampleComponent ExampleCode="@(new StrokeMiterLimit2Example())" /></div>

<ElementApiDocs ElementType="@typeof(SvgStroke)" />
