@page "/attributes/stroke"
@using SvgBlazor.Docs.Components

<h4>Basic example:</h4>
<div><ExampleComponent ExampleCode="@(new StrokeBasicExample())" /></div>

<h4>Dash array example:</h4>
<div><ExampleComponent ExampleCode="@(new StrokeDashArrayExample())" /></div>

<h4>Dash offset example:</h4>
<div><ExampleComponent ExampleCode="@(new StrokeDashOffsetExample())" /></div>

<h4>Stroke line cap example:</h4>
<div><ExampleComponent ExampleCode="@(new StrokeLineCapExample())" /></div>

<h4>Stroke opacity example:</h4>
<div><ExampleComponent ExampleCode="@(new StrokeOpacityExample())" /></div>