@page "/attributes/stroke"
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Stroke</ExampleTitle>
<ElementDescription ElementType="@typeof(SvgStroke)" />

<h5>Basic example</h5>
<div><ExampleComponent ExampleCode="@(new StrokeBasicExample())" /></div>

<h5>DashArray property</h5>
<p>@( typeof(SvgStroke).GetProperty("DashArray").GetDocumentation() )</p>
<div><ExampleComponent ExampleCode="@(new StrokeDashArrayExample())" /></div>

<h5>DashOffset property</h5>
<p>@( typeof(SvgStroke).GetProperty("DashOffset").GetDocumentation() )</p>
<div><ExampleComponent Height="25" ExampleCode="@(new StrokeDashOffsetExample())" /></div>

<h5>LineCap property</h5>
<p>@( typeof(SvgStroke).GetProperty("LineCap").GetDocumentation() )</p>
<div><ExampleComponent ExampleCode="@(new StrokeLineCapExamples())" /></div>

<h5>LineJoin property</h5>
<p>@( typeof(SvgStroke).GetProperty("LineJoin").GetDocumentation() )</p>
<div><ExampleComponent Height=520 ExampleCode="@(new StrokeLineJoinExamples())" /></div>

<h5>Opacity property</h5>
<p>@( typeof(SvgStroke).GetProperty("Opacity").GetDocumentation() )</p>
<div><ExampleComponent ExampleCode="@(new StrokeOpacityExample())" /></div>

<h5>MiterLimit property</h5>
<p>@( typeof(SvgStroke).GetProperty("MiterLimit").GetDocumentation() )</p>
<div><ExampleComponent Height=250 ExampleCode="@(new StrokeMiterLimitExamples())" /></div>

<ElementApiDocs ElementType="@typeof(SvgStroke)" />
<ExampleCodeHighlighter />
