@page "/attributes/stroke"
@using SvgBlazor.Docs.Components

<h4>Basic example:</h4>
<div><ExampleComponent ExampleCode="@(new StrokeBasicExample())" /></div>

<h4>Dash array example:</h4>
<div><ExampleComponent ExampleCode="@(new StrokeDashArrayExample())" /></div>

<h4>Dash offset examples:</h4>
<h5>Dash offset = 25</h5>
<div><ExampleComponent Height="25" ExampleCode="@(new StrokeDashOffsetExample(25))" /></div>

<h5>Dash offset = 50</h5>
<div><ExampleComponent Height="25" ExampleCode="@(new StrokeDashOffsetExample(50))" /></div>

<h4>Stroke line cap examples:</h4>
<h5>No line cap</h5>
<div><ExampleComponent Height="20" ExampleCode="@(new StrokeLineCapExample())" /></div>

<h5>Butt</h5>
<div><ExampleComponent Height="20" ExampleCode="@(new StrokeLineCapExample(StrokeLineCapStyle.Butt))" /></div>

<h5>Square</h5>
<div><ExampleComponent Height="20" ExampleCode="@(new StrokeLineCapExample(StrokeLineCapStyle.Square))" /></div>

<h5>Round</h5>
<div><ExampleComponent Height="20" ExampleCode="@(new StrokeLineCapExample(StrokeLineCapStyle.Round))" /></div>

<h4>Stroke line join example:</h4>
<h5>Miter</h5>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinExample(StrokeLineJoinStyle.Miter))" /></div>

<h5>Round</h5>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinExample(StrokeLineJoinStyle.Round))" /></div>

<h5>Bevel</h5>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinExample(StrokeLineJoinStyle.Bevel))" /></div>

<h5>Miter clip</h5>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinExample(StrokeLineJoinStyle.MiterClip))" /></div>

<h5>Arcs</h5>
<div><ExampleComponent ExampleCode="@(new StrokeLineJoinExample(StrokeLineJoinStyle.Arcs))" /></div>

<h4>Stroke opacity example:</h4>
<div><ExampleComponent ExampleCode="@(new StrokeOpacityExample())" /></div>

<h4>Stroke miter limit examples</h4>
<h5>No miter limit</h5>
<div><ExampleComponent ExampleCode="@(new StrokeMiterLimitExample())" /></div>

<h5>Miter limit = 1:</h5>
<div><ExampleComponent ExampleCode="@(new StrokeMiterLimitExample(1))" /></div>

<h5>Miter limit = 2 example:</h5>
<div><ExampleComponent ExampleCode="@(new StrokeMiterLimitExample(2))" /></div>