@page "/elements/text"
@using SvgBlazor.Docs.Components

<ExampleTitle>Text</ExampleTitle>
<p>The SvgText class is responsible for providing the svg @("<text>") element.</p>
<ExampleComponent Height="50" ExampleCode="@(new TextBasicExample())" />

<p>To shift the position of the text assign values to ShiftX and ShiftY properties:</p>
<ExampleComponent Height="50" ExampleCode="@(new TextShiftXYExample())" />

<p>Text rotation can be achieved by assigning properly formatted string to Rotate property:</p>
<ExampleComponent Height="50" ExampleCode="@(new TextRotateExample())" />

<p>The following examples show how to control the text stretch based on its length</p>
<p>Stretch spacing only:</p>
<ExampleComponent Height="50" ExampleCode="@(new TextLengthAdjustSpacingExample())" />

<p>Stretch spacing and glyphs:</p>
<ExampleComponent Height="50" ExampleCode="@(new TextLengthAdjustSpacingAndGlyphsExample())" />

<ElementApiDocs ElementType="@typeof(SvgText)" />
