@page "/elements/text"
@using SvgBlazor.Docs.Components

<ExampleTitle>Text</ExampleTitle>
<p>The SvgText class is responsible for providing the svg @("<text>") element.</p>
<h4>Text examples:</h4>
<h5>Basic</h5>
<ExampleComponent Height="50" ExampleCode="@(new TextBasicExample())" />

<h5>Shift X, Y</h5>
<ExampleComponent Height="50" ExampleCode="@(new TextShiftXYExample())" />

<h5>Rotate</h5>
<ExampleComponent Height="50" ExampleCode="@(new TextRotateExample())" />

<h5>TextLength with spacing adjust</h5>
<ExampleComponent Height="50" ExampleCode="@(new TextLengthAdjustSpacingExample())" />

<h5>TextLength with spacing and glyphs adjust</h5>
<ExampleComponent Height="50" ExampleCode="@(new TextLengthAdjustSpacingAndGlyphsExample())" />

<ElementApiDocs ElementType="@typeof(SvgText)" />
