@page "/elements/text"

<ExampleTitle>Text</ExampleTitle>
<ElementDescription ElementType="@typeof(SvgText)" />
<ExampleComponent Height="50" ExampleCode="@(new TextBasicExample())" />

<h3>Shift</h3>
<p>To shift the position of the text assign values to ShiftX and ShiftY properties:</p>
<ExampleComponent Height="50" ExampleCode="@(new TextShiftXYExample())" />

<h3>Rotate</h3>
<p>Text rotation can be achieved by assigning properly formatted string to Rotate property:</p>
<ExampleComponent Height="50" ExampleCode="@(new TextRotateExample())" />

<h3>LengthAdjust</h3>
<p>The following examples show how to control the text stretch based on its length:</p>
<h4>Spacing</h4>
<ExampleComponent Height="50" ExampleCode="@(new TextLengthAdjustSpacingExample())" />

<h4>SpacingAndGlyphs</h4>
<ExampleComponent Height="50" ExampleCode="@(new TextLengthAdjustSpacingAndGlyphsExample())" />
<h4>TextAnchor</h4>
<ExampleComponent Height="110" Width="400" ExampleCode="@(new TextTextAnchorExample())" />
<h4>DominantBaseline</h4>
<ExampleComponent Height="110" Width="200" ExampleCode="@(new TexDominantBaselineExample())" />

<ElementApiDocs ElementType="@typeof(SvgText)" />
