@page "/attributes/fill"
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Fill</ExampleTitle>
<ElementDescription ElementType="@typeof(SvgFill)" />

<h5>Color property</h5>
<p>@( typeof(SvgFill).GetProperty("Color").GetDocumentation() )</p>
<div><ExampleComponent Width="400" ExampleCode="@(new FillColorExample())" /></div>

<h5>Opacity property</h5>
<p>@( typeof(SvgFill).GetProperty("Opacity").GetDocumentation() )</p>
<div><ExampleComponent Width="400" ExampleCode="@(new FillOpacityExample())" /></div>

<h5>Fill rule property</h5>
<p>@( typeof(SvgFill).GetProperty("Rule").GetDocumentation() )</p>
<h6>NonZero</h6>
<div><ExampleComponent Width="400" ExampleCode="@(new FillRuleNonZeroExample())" /></div>
<h6>EvenOdd</h6>
<div><ExampleComponent Width="400" ExampleCode="@(new FillRuleEvenOddExample())" /></div>

<ElementApiDocs ElementType="@typeof(SvgFill)" />
<ExampleCodeHighlighter />
