@page "/attributes/fill"
@using SvgBlazor.Docs.Extensions

<ExampleTitle>Fill</ExampleTitle>
<ElementDescription ElementType="@typeof(SvgFill)" />

<h3>Color property</h3>
<p>@( typeof(SvgFill).GetProperty("Color").GetDocumentation() )</p>
<div><ExampleComponent Width="400" ExampleCode="@(new FillColorExample())" /></div>

<h3>Opacity property</h3>
<p>@( typeof(SvgFill).GetProperty("Opacity").GetDocumentation() )</p>
<div><ExampleComponent Width="400" ExampleCode="@(new FillOpacityExample())" /></div>

<h3>Fill rule property</h3>
<p>@( typeof(SvgFill).GetProperty("Rule").GetDocumentation() )</p>
<h4>NonZero</h4>
<div><ExampleComponent Width="400" ExampleCode="@(new FillRuleNonZeroExample())" /></div>
<h4>EvenOdd</h4>
<div><ExampleComponent Width="400" ExampleCode="@(new FillRuleEvenOddExample())" /></div>

<ElementApiDocs ElementType="@typeof(SvgFill)" />
